.App {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 50vh; */
  width: 100%;
  position: absolute;
  top:calc(52px + 10vh) ;
}

.center-item{
  width:50%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px
   rgba(0, 0, 0, 0.2), 
   0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
   0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.img-candy{
  width: 100% !important;
    height: auto !important;
    border: 3px solid #ff566a;
}
input{
  border: 2px solid #fe7f8d !important;
  padding: unset;
  outline: unset !important;
  border-radius: 4px;
  height: 46px;
  padding: 7px;
}
input:focus{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
}